.todos {
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
}
.todos h1 {
    text-align: center;
}
#newtodo  {
    width: 100%
}
.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.todo-list li {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}
.todo-view input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.todo-view .custom-checkbox {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #ffc107;
}
.todo-view .custom-checkbox::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid rgb(109, 211, 25);
    border-width: 0 3px 3px 0;
    transform: rotate(0deg) scale(0);
    opacity: 1;
}
.todo-view input:checked ~ .custom-checkbox {
    background-color: #ffc107;
    border-radius: 5px;
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #ffc107;
}
.todo-view input:checked ~ .custom-checkbox::after {
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 8px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid rgb(109, 211, 25);
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}
.todo-list .todo-title {
    margin-left: 50px;;
}